<%= provide(:title, "Welcome to facebook") -%>
<!DOCTYPE html>
<html  ng-app="textInputExample">
<head>
<title>User Page</title>
<link rel="stylesheet" type="text/css" href="page.css">
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.1/angular.min.js"></script>
</head>

<body>
    <div class="content">
	<div class="banner">
	  <div class="menubar">
		<div class="fb_logo">
		<image src="/assets/images.jpeg" height="60px" alt="facebook image"></h1>
		</div>
		
		<div class="mb_1">
		<p>Home | Profile | Sign Out</p>
		
</div>
</div>
</div>

<h1>Welcome <%= @user.name+" "+@user.lastname -%></h1>


</body>
</html>
